:root{

  --cor-texto-principal: white;
  --cor-texto-secundaraio: yellow;
  --botão-principal:gray;
  --botão-secundario:black;

}
* {

   margin: 0;
   padding: 0;

}


body{
  background-color: gray
}
.principal{

  background-image: url("./img/pizza2.png");
  background-repeat:no-repeat ;
  background-size: contain;
  text-align: center;
}
.container {

  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.container--botao{
     background-color: var(--botão-principal);
     color: var(--botão-secundario);
     padding: 1em;
     border-radius: 5px;
     text-decoration: none;
     display: block;
     margin-bottom: 2em;
}



.container--botao{

  margin: 0 2em 0;
}
.container--img{

  margin: 0 2em 0;
}
